<ion-view view-title="용사 조합 기록">
  <ion-content>
    <div class="item item-divider">조합 목록</div>

    <ion-list ng-repeat="group in heroNote">

        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>  
          {{group.title}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="hero in group.heros"
                  ng-show="isGroupShown(group)">
          {{hero.name}}<br>{{'★'.repeat(hero.level)}}
        </ion-item>

    </ion-list>
    
      <ion-item>
        <button class="button button-block button-positive" type="submit" ng-click="heroNoteAddOpen()"><i class="icon ion-plus"></i> 조합 추가</button>
      </ion-item>
  </ion-content>
</ion-view>
