<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">영웅 조합 추가</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="heroNoteAddClose()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddHero()">
      <div class="list">
        <label class="item item-divider">조합 추가</label>
        <label class="item item-input">
          <span class="input-label">조합 이름</span>
          <input type="text" ng-model="heroData.title">
        </label>
        <label class="item item-divider">용사 추가</label>

        <div ng-repeat="hero in heroData.heros">
          <div ng-show="hero.active || false">
            <label class="item item-input">
              <span class="input-label">이름 검색</span>
              <input placeholder="이름을 입력해주세요." type="search" ng-model="hero.name" value="{{hero.name}}" ng-change="search(hero.name)">
            </label>
            <ion-scroll direction="y" style="max-height: 120px">
              <li class="item" ng-click="completeHeroName(hero,searchHero)" ng-repeat="searchHero in autoCompleteData.heros">{{searchHero.name}}|{{'★'.repeat(searchHero.level)}}({{searchHero.level}})</li>
            </ion-scroll>
          </div>
        </div><!-- END repeat -->
      </div><!-- END list -->
      <div class="row">
        <div class="col" ng-repeat="hero in heroData.heros"><button class="button button-block" ng-click="heroNoteAddActive(this.hero)">
        {{hero.name}}<br>{{'★'.repeat(hero.level)}}
        </button></div>
      </div>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ng-click="addComb()">조합 추가</button>
      </label>
    </div>
    </form>
  </ion-content>
</ion-modal-view>
