<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">메뉴</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/hero_comb_note">
          용사 조합 노트
        </ion-item>
        <ion-item menu-close href="#/app/bread_simulator">
          빵 시뮬레이터
        </ion-item>
        <ion-item menu-close href="#/app/scenario">
          시나리오 정보
        </ion-item>
        <ion-item menu-close href="#/app/sprit_fortress">
          영혼의 요새 정보
        </ion-item>
        <ion-item menu-close href="#/app/ancient_dungen">
          고대의 던전 정보
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
